<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <title>0xTree</title>
        <link rel="stylesheet" href="static/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="header-container">
            <div class="row d-flex align-items-center">
                <div class="col-md-6 text-right">
                    <h1 class="title">0xTree</h1>
                </div>
                <div class="col-md-6 text-left">
                    <img src="static/logo.svg" alt="" class="logosvg">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row mx-auto">
                <div class="col-md-12 text-right mt-3">
                    <a href="{{ url_for('home') }}" class="options btn btn-primary mb-3">Back</a>
                </div>
            </div>
        </div>
        
        <div class="container">
            <form action="/crearFormulario" method="POST">
              <div class="form-group">
                <label for="inputTexto1">Your address:</label>
                <input type="text" class="form-control" id="inputTexto1" placeholder="0x...">
              </div>
              <div class="form-group">
                <label for="inputTexto2">Your spousse address:</label>
                <input type="text" class="form-control" id="inputTexto2" placeholder="0x...">
              </div>
              <a type="submit" class="send options btn btn-primary mb-3">Send</a>
            </form>
        </div>
        
    <script src="https://cdn.jsdelivr.net/npm/web3@1.6.0/dist/web3.min.js"></script>      
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>
